<section class="activity">
  <section class="o-container--section">
    <header class="activity__header">
      <div class="activity__heading">
        <h2 class="activity__title">Actividad reciente</h2>

        <a routerLink="/historial" class="activity__link">
          Ver historial
          <i feather="arrow-right" variant="botones" aria-hidden="true"></i>
        </a>
      </div>

      <p class="activity__subtitle">Últimos movimientos</p>
    </header>

    <section class="activity__grid">
      @for (activity of activities(); track activity.id) {
        <app-activity-card [activity]="activity"></app-activity-card>
      }
    </section>
  </section>
</section>
