<section class="stats">
  <section class="o-container--section">
    <h2 class="stats__title">Métricas de la plataforma</h2>

    <section class="stats__grid">
      @for (stat of statMetrics(); track stat.id) {
        <app-stat-card [stat]="stat"></app-stat-card>
      }
    </section>

    <section class="stats__summary">
      @for (summary of summaryMetrics(); track summary.id) {
        <app-summary-card [summary]="summary"></app-summary-card>
      }
    </section>
  </section>
</section>
