@use "../00-settings/variables" as *;

.login {
  display: flex;
  min-height: 100vh;

  background: var(--bg);

  &__form-panel,
  &__aside-panel {
    display: flex;
    flex: 1 1 50%;
    min-width: 0;
  }

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;

    &__form-panel {
      flex: none;
      width: 100%;
    }

    &__aside-panel {
      flex: 1;
      width: 100%;
    }
  }
}
